.layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: #BE877B;
    border-collapse: collapse;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    border: solid 3px #573134;
}

.header {
    font-size: 30px;
}

.footer {
    text-align: center;
}

.sidebarHeader {
    font-size: 20px;
}

.sidebar ul {
    padding-left: 20px;
}

a, a:visited {
    color: #4B2E2F;
}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.register tr td {
    padding: 10px;
    border: 1px solid transparent
}